'context-menu':
  'atom-text-editor': [
    {
      'label': 'Screenshot'
      'command': 'integrated-learn-environment:screenshot'
    }
    {
      'label': 'Toggle Learn.co Terminal'
      'command': 'integrated-learn-environment:toggleTerminal'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Learn.co'
      'submenu': [
        {
          'label': 'Screenshot'
          'command': 'integrated-learn-environment:screenshot'
        }
        {
          'label': 'Toggle Terminal'
          'command': 'integrated-learn-environment:toggleTerminal'
        }
        {
          'label': 'Reconnect'
          'command': 'integrated-learn-environment:reset'
        }
      ]
    ]
  }
]
